#---- Solari API for Cloud Browser and Sandbox MicroVMs
SOLARI_API_KEY=your_solari_api_key_here

#---- LLM APIs for Threat Analysis (put either one)
#PAID
DEEPSEEK_API_KEY=your_deepseek_api_key_here
#FREE
GEMINI_API_KEY=your_gemini_api_key_here

##---- PostgreSQL connection string for saving reports
POSTGRES_URL=postgres://user:password@host:port/db_name

##---- App URL for absolute link generation (if needed)
NEXT_PUBLIC_APP_URL=http://localhost:3000
